body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0d0d0d;
  color: white;
}

header {
  text-align: center;
  padding: 60px 20px;
}

h1 {
  font-size: 3rem;
}

nav {
  background: #111;
  text-align: center;
  padding: 15px;
}

nav a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
}

.btn {
  display: inline-block;
  padding: 12px 25px;
  background: #ff0055;
  color: white;
  text-decoration: none;
  border-radius: 30px;
  margin-top: 15px;
}